<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.satyavolu.alarm.com</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>12369C26-24C6-4107-AD2C-6996BB521A5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>531218FD-700C-4EB8-84BA-941222A6FAAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>531218FD-700C-4EB8-84BA-941222A6FAAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6A8410F-3288-40BE-BBDE-EC361D458030</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8A57075C-05FE-4CF4-8DEF-8508529657DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB169064-EAF6-4604-A88D-760DC63E5113</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DDF45308-6750-447C-AE68-1D06794F620D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A57075C-05FE-4CF4-8DEF-8508529657DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Schwark Satyavolu</string>
	<key>description</key>
	<string>Alarm.com</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>alarm.com</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>alarm.com</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BB169064-EAF6-4604-A88D-760DC63E5113</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>alrm_update</string>
				<key>subtext</key>
				<string>This should be done every time you update username or password</string>
				<key>text</key>
				<string>Update Your Access Credentials</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DDF45308-6750-447C-AE68-1D06794F620D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from list_collector import update_creds

print update_creds("{query}")
</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8A57075C-05FE-4CF4-8DEF-8508529657DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>arm</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Collecting states...</string>
				<key>script</key>
				<string>from list_collector import list_collector

print(list_collector("{query}"))</string>
				<key>subtext</key>
				<string>Arm or Disarm Alarm: arm &lt;stay|away|off&gt; &lt;passcode:optional&gt;</string>
				<key>title</key>
				<string>Arm</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12369C26-24C6-4107-AD2C-6996BB521A5E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<true/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>alarm.com</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D6A8410F-3288-40BE-BBDE-EC361D458030</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>6</integer>
				<key>script</key>
				<string>from list_collector import execute_command

print(execute_command("{query}"))</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>531218FD-700C-4EB8-84BA-941222A6FAAC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12369C26-24C6-4107-AD2C-6996BB521A5E</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>531218FD-700C-4EB8-84BA-941222A6FAAC</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>8A57075C-05FE-4CF4-8DEF-8508529657DB</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>BB169064-EAF6-4604-A88D-760DC63E5113</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>D6A8410F-3288-40BE-BBDE-EC361D458030</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>DDF45308-6750-447C-AE68-1D06794F620D</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>twitter.com/schwark</string>
</dict>
</plist>
